* {
  margin: 0;
  padding: 0;
}

.header {
  margin: 40px;
  border: 2px solid black;
  background-color: blanchedalmond;
}

.header {
  padding: 3% 6%;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  margin: 40px;
  border: 1px solid black;
  padding: 20px;
  background-color: blanchedalmond;
}

.footer {
  margin: 40px;
  border: 1px solid black;
  padding: 20px;
  background-color: blanchedalmond;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #333;
}

.header {
  display: flex;
  padding: 10px;
}

.header ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header ul li a:hover {
  color: #ff0000; /* Change the color to your desired hover effect */
}
